@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  text-align: center;
}

/* will need to remove this once I make a wallet component*/

.show-btn {
  margin: 75px 0 0;
}

h1, h2, p {
  font-family: 'Open Sans', sans-serif;
  font-size: .875rem;
  font-weight: 300;
}
